*{
    justify-content: center;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #007bff;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

.App{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    margin: 20px;
    
}

.todo-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.input-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}
input{
    flex: 1;
    padding: 12px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
}

button {
    padding: 12px 18px;
    background: #ddd;
    color: #666;
    border: none;
    border-radius: 8px;
    cursor: not-allowed;
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

button.active {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button.active:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #d1d8e0;
}

li button {
    background-color: #f44336;
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease ;
}

li button:hover {
    background-color: #c0392b;
}

button, 
li button {
    transition: background-color 0.3s ease;
}